@model PAvanzada.Models.Patrocinador

@{
    ViewBag.Title = "Patrocinador";
}

@using (Html.BeginForm("Patrocinador", "Patrocinador", FormMethod.Post))
{
    <div class="background" style="background-image: url('../../Content/Images/Ciudad-Z.jpg');">
        <div class="container">
            <div class="mini_container">
                <div class="image" data-tilt>
                    <img src="../../Content/Images/Patrocinador.png" alt="IMG">
                </div>

                <form class="form">
                    <span class="form_title">
                        Registrar patrocinador
                    </span>

                    <div class="input">
                        @Html.EditorFor(model => model.nombre_patr, new { htmlAttributes = new { @class = "input100", @placeholder = "Nombre del patrocinador" } })
                        @Html.ValidationMessageFor(model => model.nombre_patr, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="input">
                        @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "input100", @placeholder = "Telefono" } })
                        @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="input">
                        @Html.EditorFor(model => model.ciudad, new { htmlAttributes = new { @class = "input100", @placeholder = "Ciudad" } })
                        @Html.ValidationMessageFor(model => model.ciudad, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="image">
                        <button class="button">
                            <!--<input type="submit" value="Registrar" class="btn btn-default" />-->
                            Registrar
                        </button>
                    </div>
                </form>
                <a href="../Usuario/LoggedIn" class="atras">
                    Regresar al menú
                    <img src="~/Content/Images/atras.png" width="20px" height="20px" alt="IMG">
                </a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
